PUBLIC_HOST="For the backend FQDN"
PUBLIC_SERVER="For backend host url"
PUBLIC_IMAGE_HOST="FQDN of the image server"
PUBLIC_HOST_URL="For the current host"
ORIGIN="Same as PUBLIC_HOST_URL"
PUBLIC_TYPESENSE_KEY=
PUBLIC_TYPESENSE_PORT=
PUBLIC_TYPESENSE_PROTOCOL=
PUBLIC_TYPESENSE_HOST=
PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=