:root {
/*	--brand-color: #1D3557;*/
	--brand-color: #073b4c;
	--accent-color: #6C757D;
	--accent-color-alt: darkslategrey; /*#2f4f4f */
	--main-color: black;
	--danger-color: #C70300;
	--base-color: #F8F9FA;
	--base-color-alt: #DEE2E6;
	--awe-color: #457b9d;
	--awe-color-alt: #ff5f00;
	--brand-color-flex: rgba(5, 25, 35, 0.7);
	--bright: white;
	--dark: #212529;
	--good-color: #132A13;
	--rating-bad-color: #BF0603;
	--rating-good-color: #0EAD69;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--brand-color) var(--base-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
	height: 5px;
}

*::-webkit-scrollbar-horizontal {
  height: 10px; /* Set the height for the horizontal scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--base-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--brand-color);
  border-radius: 5px;
  border: 1px solid var(--base-color);
}

html,
body {
	padding: 0;
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height:1.125;
	font-family: 'Poppins', sans-serif;
	background: var(--base-color);
	color: var(--main-color);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--brand-color);
}

h2 {
	font-size: 1.125rem;
	font-weight: bold;
	color: var(--brand-color);
}

h3 {
	font-size: 1.125rem;
	font-weight: bold;
	color: var(--brand-color);
}

h4 {
	line-height: 1.1;
	letter-spacing: -0.025rem;
	color: var(--brand-color);
}

p {
	line-height: 1.2;
}

textarea {
	height: auto;
	width: 100%;
	resize: none;
	color: var(--base-color);
	border: none;
	background: var(--accent-color-alt);
	font-size: 0.9rem;
	padding: 0.4rem 0.3rem;
}

textarea:focus {
	border: none;
	outline: none;
	background: var(--awe-color-alt);
}

label {
	margin: 0 0 0.3rem 0;
	font-size: 1rem;
	font-weight: bold;
}

main {
	min-height: 100%;
}

input, select {
	color: var(--base-color);
	background: var(--accent-color-alt);
	/* height: 2.5rem; */
	border: none;
	font-size: 0.9rem;
	padding: 0.4rem 0.3rem;
}

input:focus {
	border: none;
	outline: none;
	background: var(--awe-color-alt);
}

/* For Chrome, Safari, and Opera */
input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

/* For Firefox */
input[type="search"]::-webkit-search-clear-button {
  appearance: none;
}

/* For Edge and IE */
input[type="search"]::-ms-clear {
  display: none;
}

.bold {
	font-weight: bold;
}

.just-bold {
	font-size: 1rem;
	font-weight: bold;
	line-height:1.125;
}

.button-danger {
	background: var(--danger-color);
	color: var(--bright);
	width: fit-content;
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.4rem 0.8rem;
	border: none;
/*	border-radius: 0.2rem;*/
}

.button-danger:focus {
	background: darkred;
}

.button-danger:hover {
	background: darkred;
}

.button-danger--off {
	background: var(--danger-color);
	opacity: 0.7;
	color: var(--bright);
	width: fit-content;
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.4rem 0.8rem;
	border: none;
/*	border-radius: 0.2rem;*/
}

.button-good {
	background: var(--brand-color);
	color: var(--bright);
	width: fit-content;
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.4rem 0.8rem;
	border: none;
/*	border-radius: 0.2rem;*/
}

.button-good:focus {
	background: var(--good-color);
}

.button-good:hover {
	background: var(--good-color);
}

.button-good--off {
	background: var(--brand-color);
	opacity: 0.7;
	color: var(--bright);
	width: fit-content;
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.4rem 0.8rem;
	border: none;
/*	border-radius: 0.2rem;*/
}

.button-awe {
	background: var(--awe-color);
	color: var(--bright);
	width: fit-content;
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.4rem 0.8rem;
	border: none;
/*	border-radius: 0.2rem;*/
}

.button-awe:focus {
	background: var(--awe-color-alt);
}

.button-awe:hover {
	background: var(--awe-color-alt);
}

.button-awe--off {
	background: var(--awe-color);
	opacity: 0.7;
	color: var(--bright);
	width: fit-content;
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.4rem 0.8rem;
	border: none;
/*	border-radius: 0.2rem;*/
}

.button-edit {
	background: var(--base-color);
	color: var(--base-color);
	max-width: 35px;
	max-height: 35px;
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.2rem;
	border: 0.2rem solid var(--base-color);
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-edit:focus {
	transform: scale(1.2);
}

.button-edit:hover {
	transform: scale(1.2);
}

.button-edit > img {
	width: 100%;
	height: 100%;
}

.button-icon {
	background: transparent;
	color: var(--main-color);
	width: fit-content;
	height: fit-content;
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0;
	border: none;
	border-radius: 0.2rem;
	transition: all 0.3s ease;
}

.button-icon:focus {
	transform: scale(1.2);
}

.button-icon:hover {
	transform: scale(1.2);
}

/* .button-icon > img {
	width: 100%;
	height: 100%;
} */

.button-regular {
	background: var(--base-color);
	color: var(--brand-color);
	width: fit-content;
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.4rem 0.8rem;
	border: none;
/*	border-radius: 0.2rem;*/
}

.button-regular:focus {
	background: var(--base-color-alt);
}

.button-regular:hover {
	background: var(--base-color-alt);
}

.button-regular--off {
	background: var(--base-color);
	opacity: 0.7;
	color: var(--brand-color);
	width: fit-content;
	font-size: 0.9rem;
	font-weight: 600;
	padding: 0.4rem 0.8rem;
	border: none;
/*	border-radius: 0.2rem;*/
}

.content-body > p {
	text-align: justify;
}

.content-page {
	padding: 1rem 0.5rem;
	background: var(--base-color);
	color: var(--dark);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.content-wrap {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.danger {
	color: var(--danger-color);
}

.good {
	color: var(--brand-color);
}

.flexible {
	color: inherit;
}

.error {
	color: var(--danger-color);
	font-size: 0.8rem;
	font-weight: bold;
}

.empty-state-container {
	min-height: 100%;
	min-width: 100%;
	display: grid;
	place-items: center;
}

.empty-state-text-container {
	max-width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 1.125rem;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	width: 90vw;
	max-width: 400px;
	background: var(--base-color);
	color: var(--brand-color);
	padding: 1rem;
	border: 0.15rem solid var(--base-color-alt);
	border-radius: 0.2rem;
}

.form--stretch {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	width: 100%;
	max-width: 700px;
	background: var(--base-color-alt);
	color: var(--main-color);
	padding: 1rem;
	/*border: 0.2rem solid var(--brand-color);
	border-radius: 0.2rem;*/
}

.form-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	/*padding: 0 10% 0 10%;*/
	/*min-width: 350px;*/
	width: 90vw;
	max-width: 335px;
}

.form-checkbox-label {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 0 1 fit-content;
	margin: 0.2rem 0.5rem 0.2rem 0;
}

.form-checkbox-label-container {
	display: flex;
	flex-wrap: wrap;
	padding-top: 0.5rem;
}

.form-field {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 1rem 0 1rem 0;
	height: 100%;
}

.form-field-texter {
	resize: none;
	overflow: hidden;
}

.form-field-counter {
	display: inline-block;
	margin: 0.2rem 0 0 0;
	font-size: 0.8rem;
}

.form-field-info {
	margin: 0.2rem 0;
	padding: 0.3rem 0;
	font-size: 0.8rem;
	color: var(--dark);
}

.form-field-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 0;
	margin: 0.25rem 0;
}

.form-field-list > li {
	flex: 0 1 fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	font-size: 1.2rem;
	font-weight: 500;
	margin: 0.25rem 0.5rem 0.25rem 0;
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	text-align: left;
	background: var(--base-color);
	color: var(--brand-color);
}

.form-field-required {
	display: inline-block;
	height: 0.8rem;
	width: 0.8rem;
	background: var(--danger-color);
	border: 0.1rem solid var(--danger-color);
	border-radius: 50%;
}

/* .form-largeText-field {} */

.form-page {
	padding: 2rem 0;
	display: grid;
	place-items: center;
	min-height: 70vh;
}

.form-page-new {
	padding: 1rem 0;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.form-page--vertical {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 2rem 0;
	background: var(--base-color);
}

.form-popup {
	display: grid;
	place-items: center;
	position: fixed;
	padding: 2rem 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: var(--base-color);
	overflow-x: scroll;
}

.form-popup--vertical {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	position: fixed;
	padding: 2rem 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: var(--base-color);
	overflow-x: scroll;
}

.form-with-bar {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.form-submit {
	background: var(--brand-color);
	color: var(--bright);
	width: fit-content;
	font-size: 0.8rem;
	font-weight: 600;
	padding: 0.4rem 0.8rem;
	border: none;
	/* border-radius: 0.2rem; */
}

.form-submit:focus {
	background: var(--good-color);
}

.form-submit:hover {
	background: var(--good-color);
}

.grouped-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
}

/*.heading-one {
	font-size: 2.3rem;
	color: var(--first-color);
	line-height: 2.5rem;
}*/

.h-display {
	font-family: 'Calistoga', cursive;
	font-weight: unset;
}

.h1 {
	font-size: 1.5rem;
	font-weight: bold;
}

.h2 {
	font-size: 1.125rem;
	font-weight: bold;
}

.h3 {
	font-size: 1.125rem;
	font-weight: bold;
}

.h4 {
	font-weight: bold;
}

.hiddenContent {
	visibility: hidden;
	overflow: hidden;
	height: 0;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.show-flex {
	display: flex;
}

.layout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 100vw;
	min-height: 100vh;
	/* overflow: hidden; */
	position: relative;
}

.layout-progressive {
	display: flex;
	flex-direction: column;
}

.link {
	width: fit-content;
	/* font-size: 1.1rem; */
	font-weight: 600;
	/*padding: 0.2rem 0 0 0;*/
	text-decoration: solid underline var(--awe-color) 0.1rem;
}

.notice {
	background: var(--base-color-alt);
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--dark);
	padding: 0.8rem;
	margin-top: 1rem;
	width: fit-content;
	border: 1px var(--accent-color) transparent;
	border-radius: 0.2rem;
}

.no-scroll {
	height: 100%;
	overflow: hidden;
}

.search-popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: baseline;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: var(--base-color);
	overflow-x: scroll;
}

.text-small {
	font-size: 0.8rem;
}

.text-faded {
	color: var(--accent-color);
}

.textarea {
	height: 200px;
	width: 100%;
	resize: none;
	color: var(--accent-color);
	border: 2px solid var(--accent-color);
	border-radius: 5px;
	background: var(--base-color);
	font-size: 1.2rem;
	padding: 0.3rem;
}

.textarea--large {
	height: 600px;
	width: 100%;
	resize: none;
	color: var(--base-color);
	border: 2px solid var(--main-color);
	border-radius: 5px;
	background: var(--accent-color);
	font-size: 1.2rem;
	padding: 0.3rem;
}

.textual-page {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	/*padding: 0 10% 0 10%;*/
	/*min-width: 350px;*/
	position: relative;
	min-height: 100%;
	min-width: 100%;
	background: var(--base-color-alt);
	color: var(--main-color);
	padding: 1rem;
	border: 0.2rem transparent solid;
	border-radius: 0.3rem;
}

.textual-page-heading {
	min-width: 100%;
}

.textual-page-heading > h1 {
	margin: 0.8rem 0 0.3rem 0;
}

.textual-page-heading > p {
	margin: 0.3rem 0 0.3rem 0;
	font-weight: bold;
	color: var(--brand-color);
}

.textual-page-section {
	flex: 0 1 100%;
	margin: 0.5rem 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	/*padding: 0 10% 0 10%;*/
	/*min-width: 350px;*/
	background: var(--base-color);
	color: var(--brand-color);
	padding: 1rem;
	border: 0.2rem transparent solid;
	border-radius: 0.3rem;
}

.textual-page-section > ul {
  list-style: none;
	padding: 0;
}

.textual-page-section > ul > li {
	margin: 0.8rem 0 0.8rem 0;
	padding: 0 0 0.2rem 0;
	border-bottom: 1px solid var(--accent-color);
}

.title-band {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-width: 100%;
	padding: 0;
}

.title-slim {
	margin: 0.5rem 0;
}

.uni-pad {
	padding: 0 0.5rem;
}

.right-align {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.uni-relative {
	position: relative;
}

@media(min-width: 600px){
	.content-page {
		padding: 1rem 0;
	}
	.form-with-bar {
		/*flex-direction: row;*/
		justify-content: space-between;
		align-items: flex-start;
	}
	.form-bar {
		padding-top: 1rem;
	}
	.layout {
		min-width: 0;
		width: 90vw;
	}
	.layout-progressive {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
	.textual-page-section {
		flex: 0 1 48.5%;
		margin: 0.5rem 0.5rem 0 0;
	}
	.uni-pad {
		padding: 0;
	}
	h1 {
		font-size: 2.125rem;
		font-weight: bold;
	}

	h2 {
		font-size: 1.5rem;
		font-weight: bold;
	}

	h3 {
		font-size: 1.25rem;
		font-weight: bold;
	}

	h4 {
		font-size: 1.125rem;
		font-weight: bold;
	}

	.h1 {
		font-size: 2.125rem;
		font-weight: bold;
	}

	.h2 {
		font-size: 1.5rem;
		font-weight: bold;
	}

	.h3 {
		font-size: 1.25rem;
		font-weight: bold;
	}

	.h4 {
		font-size: 1.125rem;
		font-weight: 700;
	}
}

/* Editor  styles */

.editor-container {
  background: #fff;
  margin: 20px auto 20px auto;
  border-radius: 2px;
  max-width: 600px;
  color: #000;
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  caret-color: #444;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}

/* ToEdit Button modal styles */
.buttonStyles {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.2rem 0 0;
	background: var(--brand-color);
	color: var(--bright);
	border: 0.2rem solid var(--brand-color);
	/*border-bottom-left-radius: 56px;
	border-top-left-radius: 56px;*/
	border-radius: 56px;
	height: 41px;
	width: 100%;
	max-width: 350px;
	font-size: 1rem;
	font-weight: 600;
}

.buttonStyles:focus {
	background: var(--good-color);
	border: 0.2rem solid var(--good-color);
}

.buttonStyles:hover {
	background: var(--good-color);
	border: 0.2rem solid var(--good-color);
}

@media(min-width: 1000px){
	.layout {
		width: 80vw;
	}
	h1 {
		font-size: 2.125rem;
		font-weight: bold;
		line-height: 1;
		letter-spacing: -0.0625rem;
	}

	h2 {
		font-size: 1.875rem;
		font-weight: bold;
		line-height: 1.067;
		letter-spacing: -0.05rem;
	}

	h3 {
		font-size: 1.5rem;
		font-weight: bold;
		line-height: 1.083;
		letter-spacing: -0.0375rem;
	}

	h4 {
		font-size: 1.25rem;
		font-weight: bold;
		line-height: 1.1;
		letter-spacing: -0.025rem;
	}

	.h1 {
		font-size: 2.125rem;
		font-weight: bold;
		line-height: 1;
		letter-spacing: -0.0625rem;
	}

	.h2 {
		font-size: 1.875rem;
		font-weight: bold;
		line-height: 1.067;
		letter-spacing: -0.05rem;
	}

	.h3 {
		font-size: 1.5rem;
		font-weight: bold;
		line-height: 1.083;
		letter-spacing: -0.0375rem;
	}

	.h4 {
		font-size: 1.25rem;
		font-weight: bold;
		line-height: 1.1;
		letter-spacing: -0.025rem;
	}
}

@media(min-width: 1200px){
	
}